---
import { getCollection, type CollectionEntry } from "astro:content";
import DevelopmentProjectCard from "../../components/portfolio/DevelopmentProjectCard.astro";
import Layout from "../../layouts/Layout.astro";
import Hero from "@/components/general/Hero.astro";
import Container from "@/components/general/Container.astro";
import SectionTitle from "@/components/general/SectionTitle.astro";

type DevProjects = CollectionEntry<"dev-projects">[];

const allDevProjects: DevProjects = await getCollection("dev-projects");
---

<Layout title="Sakaweb">
  <main>
    <Container className="py-16">
      <SectionTitle>Proyectos de Desarrollo</SectionTitle>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
        {
          allDevProjects.map((project) => (
            <DevelopmentProjectCard project={project} />
          ))
        }
      </div>
    </Container>
  </main>
</Layout>
