---
interface Props {
  className?: string; // Optional class to allow for custom styling
}
const { className } = Astro.props;
---

<section class={`container mx-auto px-4 sm:px-6 lg:px-8 ${className}`}>
  <slot />
</section>
