---
import { Navbar } from "./Navbar";
---

<header
  class="w-full inline-flex items-center justify-between bg-background px-6 md:px-8"
  transition:persist
>
  <a href="/">
    <img
      src="/logos/logo-horizontal.svg"
      alt="Full Logo"
      class="hidden md:block h-8"
    />
    <img
      src="/logos/logo-icon.svg"
      alt="Icon Logo"
      class="block md:hidden h-8 m-2"
    />
  </a>
  <Navbar client:only="react" />
</header>
