---
import Hero from "@/components/general/Hero.astro";
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import Container from "@/components/general/Container.astro";
import About from "@/components/home/About.astro";
import Skills from "@/components/home/Skills.astro";
---

<Layout title="Sakaweb">
  <main>
    <Hero
      title="Desarrollador & Diseñador"
      subtitle="Desarrollador de Videojuegos - Desarrollador Fullstack - Diseñádor Gráfico"
      bgImage="/home/hero.webp"
    >
      <a href="/development"
        ><Button variant="secondary" size="lg" className="cursor-pointer"
          >Proyectos de Desarrollo</Button
        >
      </a>
      <a href="/design"
        ><Button variant="secondary" size="lg" className="cursor-pointer"
          >Proyectos de Diseño</Button
        >
      </a>
    </Hero>
    <About />
    <Skills />
  </main>
</Layout>
