---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import DesignProjectCard from "../../components/portfolio/DesignProjectCard.astro";
import Hero from "@/components/general/Hero.astro";
import Container from "@/components/general/Container.astro";
import SectionTitle from "@/components/general/SectionTitle.astro";

type DesignProjects = CollectionEntry<"design-projects">[];

const allDesignProjects: DesignProjects =
  await getCollection("design-projects");
---

<Layout title="Sakaweb">
  <main>
    <Container className="py-16">
      <SectionTitle title="Proyectos de Diseño" />
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
        {
          allDesignProjects.map((project) => (
            <DesignProjectCard project={project} />
          ))
        }
      </div>
    </Container>
  </main>
</Layout>
