---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import DesignProjectCard from "../../components/portfolio/DesignProjectCard.astro";
import Hero from "@/components/general/Hero.astro";
import Container from "@/components/general/Container.astro";
import SectionTitle from "@/components/general/SectionTitle.astro";
import type { DesignProject } from "@/models/collections.model";
import { filterDesignProjects } from "@/utils/utils";

const allDesignProjects: DesignProject[] =
  await getCollection("design-projects");
const filteredDesignProjects = filterDesignProjects(allDesignProjects);
filteredDesignProjects.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<Layout title="Sakaweb">
  <main>
    <Container className="py-16">
      <SectionTitle>Proyectos de Diseño</SectionTitle>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
        {
          filteredDesignProjects.map((project) => (
            <DesignProjectCard project={project} />
          ))
        }
      </div>
    </Container>
  </main>
</Layout>
