---
import Experience from "./Experience.tsx";
import MainCta from "./MainCta.astro";
import { getCollection, render } from "astro:content";

const about = (await getCollection("aboutMe"))[0];
const { Content } = await render(about);

const experience = about.data.experience as ExperienceData;
---

<div class="section-container">
  <div class="grid grid-cols-5 gap-8">
    <div class="col-span-3 grid grid-rows-2 gap-4">
      <div class="text-content col-span-1">
        <h1 class="section-title">{about.data.title}</h1>
        <Content />
      </div>
      <div class="col-span-1">
        <Experience experience={experience} client:load />
      </div>
    </div>
    <div class="col-span-2 grid grid-cols-1 portrait items-end">
      <div class="mx-auto pb-10">
        <MainCta text="LinkedIn" />
      </div>
    </div>
  </div>
</div>

<style>
  .portrait {
    background-color: greenyellow;
    border-radius: 16px;
  }
</style>
