---
interface Props {
  title: string;
  body: string;
  href: string;
  gridArea: string;
}

const { href, title, body, gridArea } = Astro.props;
---

<div class="card">
  <div class="background"></div>
  <div class="img-container">
    <img src={href} alt="" />
  </div>
  <div class="text">
    <h2>{title}</h2>
    <p>{body}</p>
  </div>
</div>

<style define:vars={{ gridArea }}>
  .card {
    display: grid;
    min-height: 320px;
  }

  .background {
    grid-column: 1;
    grid-row: 1;
    background: var(--accent-pink-gradient);
    border-radius: 15px;
    padding-top: 50px;
    margin-top: 50px;
  }

  .text {
    align-self: flex-end;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding: 20px;
  }

  .text h2 {
    font-size: 18px;
    color: var(--accent-blue);
  }

  .text p {
    min-height: 100px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 10px;
    color: var(--accent-black);
  }
  .img-container {
    display: flex;
    align-self: flex-start;
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
    max-width: 70%;
  }

  img {
    height: 100px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
  }

  @media (min-width: 800px) {
    img {
      height: 140px;
    }
  }
</style>
