---
import ColumnLayout from "../layouts/ColumnLayout.astro";
import Column from "../layouts/Column.astro";
---

<footer>
  <ColumnLayout>
    <div class="footer-logo">
      <a href="#nosotros"><img src="Logo-horizontal-color.png" alt="" /></a>
    </div>
    <div class="mapa-sitio">
      <h3>Mapa del sitio</h3>
      <ul>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#caracteristicas">Características</a></li>
        <li><a href="#contacto">Contáctanos</a></li>
        <li><a href="#prueba">Prueba</a></li>
      </ul>
    </div>
    <div class="contacto">
      <h3>Contáctanos</h3>
      <ul>
        <li>
          <div class="icon-container">
            <img src="mail-icon.png" alt="" />
          </div>
          <a href="">oincsac@gmail.com</a>
        </li>
        <li>
          <div class="icon-container">
            <img src="wapp-icon.png" alt="" />
          </div>
          <a href="">+51 945 599 080</a>
        </li>
        <li>
          <div class="icon-container">
            <img src="location-icon.png" alt="" />
          </div><a href="">Lima, Perú</a>
        </li>
      </ul>
    </div>
  </ColumnLayout>
  <div class="separator"></div>
  <Column>
    <div class="copyright">
      <p>©2024 Copyright - Creado por Oinc Studio - Lima, Perú</p>
    </div>
  </Column>
</footer>

<style>
  li,
  a {
    color: var(--accent-white);
    text-decoration: none;
    list-style: none;
    display: flex;
    font-weight: 600;
    column-gap: 0.5rem;
  }

  h3 {
    display: flex;
    padding-bottom: 15px;
    color: var(--accent-pink);
  }

  .footerlogo {
    margin-right: 20px;
    grid-area: "one";
  }

  .mapa-sitio {
    grid-area: "two";
  }

  .contacto {
    grid-area: "three";
  }

  icon-container {
    display: flex;
    min-width: 10px;
    padding: 0;
    align-items: center;
  }

  .contacto img {
    display: inline-block;
    max-height: 12px;
  }

  footer {
    background: var(--accent-blue-gradient);
    margin-inline: auto;
    text-align: left;
    border-top: 6px solid var(--accent-pink);
    padding-top: 50px;
  }

  .separator {
    height: 50px;
  }

  .mapa-sitio li a {
    transition: all 0.3s ease 0s;
  }

  .mapa-sitio li a:hover {
    color: var(--accent-pink);
  }

  .copyright {
    padding: 20px;
    border-top: 4px solid var(--accent-pink);
    color: var(--accent-white);
    font-weight: 300;
    font-size: 15px;
  }
</style>
