---
import MainCta from "./MainCta.astro";
---

<div class="hero-container">
  <div class="wrap">
    <div>
      <p class="texto-principal">DESIGNER &</p>
      <p><span class="bold texto-principal">DEVELOPER</span></p>
    </div>
    <p class="bajada">
      Peruvian versatile creative technologist with 5+ years of experience in
      graphic design and 2+ years in full-stack and video game development
    </p>
    <div class="inline-block space-x-10">
      <a class="cta" href="#prueba"><MainCta text="My Work" /></a>
      <a class="cta" href="#prueba"><MainCta text="Contact Me" /></a>
    </div>
  </div>
</div>

<style>
  .hero-container {
    background-color: var(--accent-yellow);
    min-height: 600px;
    margin-bottom: 35px;
    display: flex;
    padding: 0 20px;
    padding-bottom: 100px;
  }

  .wrap {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    row-gap: 1.5rem;
    text-align: right;
    color: var(--accent-black);
  }

  .bajada {
    max-width: 80%;
    margin-left: auto;
    line-height: 1.3;
    font-weight: 500;
    font-size: 25px;
  }

  .texto-principal {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
  }

  .bold {
    font-weight: 700;
  }

  @media (min-width: 800px) {
    .texto-principal {
      font-size: 57px;
      line-height: 1;
    }
    .bajada {
      max-width: 48%;
    }
  }
</style>
