---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<button>{text}</button>

<style>
  button {
    padding: 8px 28px;
    background-color: var(--accent-green);
    color: var(--accent-black);
    border: none;
    font-weight: 700;
    font-size: 22px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: var(--accent-dark-green);
  }
</style>
