---

---

<div class="wrapper">
  <div class="layout-grid">
    <slot />
  </div>
</div>

<style>
  .wrapper {
    max-width: 1080px;
    margin-inline: auto;
    text-align: center;
    padding: 0 10px;
  }

  .layout-grid {
    display: grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  @media (min-width: 800px) {
    .layout-grid {
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .layout-grid > * {
    flex: 1;
  }
</style>
