---

---

<div class="wrapper wrapper--narrow">
  <div class="layout-grid">
    <slot />
  </div>
</div>

<style>
  .wrapper--narrow {
    max-width: 550px;
    margin-inline: auto;
    text-align: center;
    margin-block: 6rem;
  }

  .layout-grid {
    display: flex;
    gap: 2rem;
  }

  .layout-grid > * {
    flex: 1;
  }
</style>
